:root {
    --primary-text-color: #212121
    --secondary-text-color: #757575, 
    --white-color: #ffffff
    --accent-color: #2196f3;
    --color-logo: #000000;
    --color-background: ##2F303A;
    --color-section-benefit-background: #F5F5F5;
    --color-section-our-time-solid: #f5f4fa;
}
    body{
        font-family: "Roboto", sans-serif;
        }
        .hero-title{
            font-family: 900;
        }
        .header-logo{
            font-family: "Raleway";
            font-weight: 700;
        }
        .list{
            list-style: none;
        }
/* header */
.header-logo{
    color: var(--accent-color);
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 3em;
    text-decoration: none;
}
/*загальна інформація по BTN*/
.button.p {
    color: var(--accent);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 2em;
    text-decoration: none;
}
/*НЕ ПІДСВІЧУЄ КНОПКА, Я НЕ РОЗУМІЮ ПОМИЛКИ*/
.button.primary:hover,
.button.primary:focus{
    color: var(--white-color);
    background-color: var(--accent-color);
}
.button.primary{
    color: var(--white-color);
    background-color: var(--accent-color);
}
/*BOTTON сделать и перенести*/
.button.secondary{
    color: var(--accent-color);
    background-color: var(--white-color);
}
.hero-title{
    color: var(--white);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 0.06em;
    background-color: var(--color-background);
    border: var(--color-border);
    color: var(--title-text-color);
}
/*Зробити замовлення*/
.button primaryt{
    color: var(--title-text);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 6em;
    text-decoration: none;
}
.button primary:hover,
.button primary:focus{
    color: var(--white color);
    background-color: var(--accent-color);
}




    /*footer*/
.footer{
    background-color: var(--color-footer-background);
    }
    .footer-logo{
        color: var(--accent-color, --color-logo);
        font-family: Raleway;
        font-size: 26px;
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: 3em;
        text-decoration: none;
    }
    .footer-address,
    .footer-contact,
    .footer-mailto{
    color: var(--title-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 3em;
    }
    /*скриваючщая формула заголовка
.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;*/