:root{
   --accent-color: #2196F3;
   --color-logo: #000000;
   --color-white: #FFFFFF;
   --color-text: #212121;
   --color-text2: #757575;
   --color-section: #F5F4FA;
   --color-shadow: #AFB1B8;
   --color-ft2: #FFFFFF 10%;
   --color-ft: #FFFFFF 60%;
   --color-background-ft: #2F303A;
   --color-hero:  #2F303A 40%;
   --color-hero2: #C4C4C4;
   --color-border:  #ECECEC;
   --primary-white-color:  #FFFFFF;
}
.ul . link {
    list: none;
}
.p .button-primary current{
    font-size: 16px;
    color: var(--purpl);
    background-color: brown;
}
.text .body-page{
    color: var(--blue);
    font-family: roboto;
}















/*body {
    background: var(--primary-white-color);
    font-family: "Roboto", sacs-serif;
    font-weight: 500;
    font-family: inherit;
}
.hero-title {
    font-weight: 900; 
}
.header-logo :hover {
    font-family: "Raleway";
    font-weight: 700;
} 
/*header
.header-logo a :hover {
    color: var(--accent-color);
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
/*убирает точки
.ul{
    list-style: none; 
    /*background-color: aqua;*/

/*Hero section
.title {
    color: var(--color white);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
}
.button .primery a {
    color: var(--color white);
    background-color: var(--accent-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
}
/*Студія
.button .primery {
    color: var(--accent-color);
    background-color: var(--primary-white-color);
    /*font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    border-color: red; /*це я для себе нписала, щоб бвчить чи працю, але в мене десь на певному коді залипаюють

.header-nav .button-primery link:hover,
.header-nav .button-primery link:focus {
    color: var(--accent-color);
    background-color: var(--color white);
}
.header-nav .link .current {
color: var(--accent-color);
}
/*Портфолио та контакт
.button .secondery {
    color: var(--color text);
    background-color: var(--primary-white-color);
    /*font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    border-color: blueviolet;
}
.button {
    color: var(--accent-color);
    background-color: var(--primary-white-color);

    font-size: 14px;
    display: inline-block;
    border: 1px solid black;
}
.link:hover {
  color: tomato;
} /* test
.button a :hover,
.button a :focus 
    color: var(--accent-color);
Переваги
.section-benefits .benefits-list {
    color: var(color text);
}
.benefits {
    color: var(--color text);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.03em;
}
.betefits-text{
    color: var(--color text2);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
/*Чим ми займаємося та наша кманда, так можна h2 писать?
.section-we do .our team{
color: var(--color text);
font-size: 36px;
font-weight: 700;
line-height: 1.2;
letter-spacing: 0.03em;
}
/*Наша команда
.team-member .name-our team {
    font-size: 16px;
    font-weight: 500; /*я думаю тут не обоов"язково прописувати fw, тому що ми в горі зазначили
    line-height: 1.2;
    letter-spacing: 0.03;
}
.position-our team {
    color: var(--color text2);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
/*footer
.foter logo {
    color: var(--accent-color);
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.address list list {
    list-style: none;
}
.footer address {
    color: var(--color white);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.footer mailto {
    color: var(--color ft);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.footer contact {
    color: var(--color ft);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
}*/